DOWNLOAD_SECRET=changeme
CDP_API_KEY=your-cdp-key
RECIPIENT_WALLET=0xd779cE46567d21b9918F24f0640cA5Ad6058C893
FACILITATOR_URL=https://api.cdp.coinbase.com
USDC_ASSET_ADDRESS=0x833589fcd6edb6e08f4c7c32d4f71b54bda02913
NETWORK=base
ASSETS_DIR=./assets
PUBLIC_BASE_URL=http://localhost:8000
